.container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.podcast-home{
    margin-top: 100px;
}

.podcast-home h1{
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #016677;
    text-align: center;
}

.podcast-home h2{
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #D78079;
}

.podcast-programs{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
}

.program{
    cursor: pointer;
    flex: 1;
    text-align: center;
}

.program img{
    width: 300px;
    height: 260px;
}

.program h2{
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    color: #D78079;
    font-size: 24px;
    text-align: center;
}

.program p{
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    color: #016677;
    padding: 0 30px;
}











/** These are found in style.css nawa theme do not copy them **/
.podcasts-page form{
    flex: 1;
    margin: 20px 0;
}

.podcasts-page form input{
    background: #ddddddb8;
    border: 0;
    outline: 0;
    width: 59px;
    padding: 10px;
    transition: .5s;
}

.podcasts-page form input:focus{
    width: 60%;
}

.no-results{
    text-align: center;
    color: #016677;
    font-size: 50px;
    font-family: "Rubi", sans-serif;
}



.no-results{
    text-align: center;
    color: #016677;
    font-size: 50px;
    font-family: "Rubi", sans-serif;
}



#loading-icon{
    width: 50px;
    height: 50px;
    border: 5px solid #ddd;
    border-radius: 50%;
    border-top-color: #016477;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}